<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Boostrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700&display=swap"
    rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

   <!-- Font Awesome JS -->
   <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg="nest"></script>

  <%- include('./partials/_header'); %>
  <title>Review Page</title>
</head>

<body>

  <div class="page-wrapper">
    <header>
      <h2 class="review-title"><%= resource.name %></h2>
    </header>
    <article>
      <h4 class="review-title"><%= resource.title %></h4>
      <p class="review-description"><%= resource.description %></p>
      <a href="<%= resource.url %>" class="visit-btn"><i class="fas fa-link"></i> Visit</a>
    </article>
    <footer>
      <hr>
      <form action="/resources/review/<%= resource.id %>" method="POST">
      <div class="form-group">
        <label for="sel1">Rate:</label>
        <select class="form-control" id="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
      </div>
      <div class="like-btn">
        <label for="like">Like</label>
        <input class="btn btn-outline-success" type="checkbox" name="like" id="isLiked" value="1">
      </div>
      <div class="form-group">
        <input class="btn btn-outline-success" type="submit" value="Submit">
      </div>
      </form>
  </div>
    </footer>
  </div>

    <div class="row justify-content-center">
        <div class="card-columns">
          <% allComments.forEach(function(commentItem, index) { %>
            <!-- start from 4th element apply hideme class for scroll -->
            <div class="card hideme">

                <% if (commentItem.like_this) { %>

                  <i class="fa fa-heart" data-likes="<%=  commentItem.like_this %>"></i>
                <% } else { %>
                  <i class="far fa-heart" data-likes="<%=  commentItem.like_this %>"></i>
                <% } %>
                <span class="like"><%= commentItem.rating %></span>
                <span>
                    <% if (commentItem.rating) { %>
                      <% for ( i = 0; i < commentItem.rating; i += 1){ %>
                        <i class="fas fa-star"></i>
                      <% } %>
                    <% } else { %>
                      <i class="far fa-star"></i>
                    <% } %>
                  </span>
              </a>
              <div class="card-body">
                <h5 class="card-title"><%= commentItem.title %></h5>
                <br>
                <div class="toggle">
                  <p class="card-text"><%= commentItem.description %></p>
                  <hr>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
    </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
